<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519749271097-l9jio2808h4uh2mltl0fi5jscd872tcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519749271097-l9jio2808h4uh2mltl0fi5jscd872tcn</string>
	<key>API_KEY</key>
	<string>AIzaSyDNjpdLQ6qxqsgb7LiLEQ8fSE3PJczgtZI</string>
	<key>GCM_SENDER_ID</key>
	<string>519749271097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.microscanai.development</string>
	<key>PROJECT_ID</key>
	<string>microscan-ai-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>microscan-ai-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519749271097:ios:86cfde5074c014e72bd7e8</string>
</dict>
</plist>